# Period and periodindex

In [2]:
import numpy as np
import pandas as pd

In [4]:
y=pd.Period('2020')
y

Period('2020', 'A-DEC')

In [ ]:
# A-Dec means Annual ending in december

In [5]:
dir(y)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__unicode__',
 '__weakref__',
 '_add_delta',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_typ',
 'asfreq',
 'day',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [6]:
# we can check all above property on y

y.start_time

Timestamp('2020-01-01 00:00:00')

In [7]:
y.end_time

Timestamp('2020-12-31 23:59:59.999999999')

In [8]:
m=pd.Period('2020-1',freq='M')
m

Period('2020-01', 'M')

In [9]:
m.start_time

Timestamp('2020-01-01 00:00:00')

In [10]:
m.end_time

Timestamp('2020-01-31 23:59:59.999999999')

In [11]:
m+1  # we can perforn arithmetic operations

Period('2020-02', 'M')

In [13]:
# daily time period

d=pd.Period('2020-01-05',freq='D')
d

Period('2020-01-05', 'D')

In [15]:
d.month

1

In [16]:
d+1

Period('2020-01-06', 'D')

In [18]:
# hourly time period

h=pd.Period('2020-01-05 14:00:00', freq='H')
h

Period('2020-01-05 14:00', 'H')

In [19]:
h.start_time

Timestamp('2020-01-05 14:00:00')

In [20]:
h.end_time

Timestamp('2020-01-05 14:59:59.999999999')

In [21]:
h+1

Period('2020-01-05 15:00', 'H')

In [22]:
h-6

Period('2020-01-05 08:00', 'H')

In [23]:
h+pd.offsets.Hour(5)

Period('2020-01-05 19:00', 'H')

In [24]:
# quaterly period

q1=pd.Period('2019Q1')
q1

Period('2019Q1', 'Q-DEC')

In [25]:
# in walmart quatery periods are different from feb to jan whereas for others its jan to dec
q1+1 # can perform airthmatic operations also

Period('2019Q2', 'Q-DEC')

In [26]:
q1.start_time

Timestamp('2019-01-01 00:00:00')

In [27]:
q1.end_time

Timestamp('2019-03-31 23:59:59.999999999')

In [28]:
# can rewrite the frequency into monthly, yearly or weekly

q1.asfreq('M',how='start')

Period('2019-01', 'M')

In [29]:
q1.asfreq('M',how='end')

Period('2019-03', 'M')

In [32]:
# create another one

q2=pd.Period('2019Q2',freq='Q-DEC')

In [33]:
# can perform arithmetic operations
q2-q1

In [36]:
# Periodindex

idx=pd.period_range('2011','2017',freq='Q')
idx

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [37]:
idx[0].start_time

Timestamp('2011-01-01 00:00:00')

In [38]:
idx[0].end_time

Timestamp('2011-03-31 23:59:59.999999999')

In [45]:
ps=pd.Series(np.random.randn(len(idx)),idx)

In [46]:
ps.index

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [47]:
ps['2011']

2011Q1   -0.445136
2011Q2   -0.269526
2011Q3    0.418906
2011Q4   -0.360506
Freq: Q-DEC, dtype: float64

In [48]:
ps['2011':'2013'] # can go for indexing and slicing

2011Q1   -0.445136
2011Q2   -0.269526
2011Q3    0.418906
2011Q4   -0.360506
2012Q1    0.169209
2012Q2    1.921626
2012Q3    0.413385
2012Q4    0.891835
2013Q1    0.554110
2013Q2   -0.824392
2013Q3    1.213049
2013Q4   -0.468671
Freq: Q-DEC, dtype: float64

In [50]:
ps1=ps.to_timestamp() # converting into datetime index
ps1.index

DatetimeIndex(['2011-01-01', '2011-04-01', '2011-07-01', '2011-10-01',
               '2012-01-01', '2012-04-01', '2012-07-01', '2012-10-01',
               '2013-01-01', '2013-04-01', '2013-07-01', '2013-10-01',
               '2014-01-01', '2014-04-01', '2014-07-01', '2014-10-01',
               '2015-01-01', '2015-04-01', '2015-07-01', '2015-10-01',
               '2016-01-01', '2016-04-01', '2016-07-01', '2016-10-01',
               '2017-01-01'],
              dtype='datetime64[ns]', freq='QS-OCT')

In [51]:
# datatime index to perios index
ps1.to_period()

2011Q1   -0.445136
2011Q2   -0.269526
2011Q3    0.418906
2011Q4   -0.360506
2012Q1    0.169209
2012Q2    1.921626
2012Q3    0.413385
2012Q4    0.891835
2013Q1    0.554110
2013Q2   -0.824392
2013Q3    1.213049
2013Q4   -0.468671
2014Q1   -0.860482
2014Q2   -0.127439
2014Q3    0.308584
2014Q4   -0.271972
2015Q1    0.762248
2015Q2   -0.597826
2015Q3    0.333623
2015Q4   -0.549017
2016Q1    1.442800
2016Q2   -1.539891
2016Q3   -0.451166
2016Q4    0.423772
2017Q1   -0.749864
Freq: Q-DEC, dtype: float64

In [68]:
# creating the time range for the data

In [74]:
df=pd.read_csv('WMT.csv')

In [75]:
df.set_index('Line Item',inplace=True)

In [77]:
df=df.T

In [78]:
df.index=pd.PeriodIndex(df.index,freq='Q-JAN')

In [79]:
df.index # index converted into period index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [80]:
df['start_date']=df.index.map(lambda x:x.start_time)

In [81]:
df.head()

Line Item  Revenue  Expenses  Profit start_date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [82]:
df['end_date']=df.index.map(lambda x:x.end_time)

In [83]:
df.head()

Line Item  Revenue  Expenses  Profit start_date                      end_date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999

In [ ]:
# thus created start date and end date by converting index into period index