# Shifting and lagging

In [1]:
import numpy as np 
import pandas as pd

In [2]:
df=pd.read_csv("fb.csv",index_col='Date',parse_dates=True)

In [3]:
df.head()

             Price
Date
2017-08-15  171.00
2017-08-16  170.00
2017-08-17  166.91
2017-08-18  167.41
2017-08-21  167.78

In [4]:
df.shift(1) # shifting price by 1 day

             Price
Date
2017-08-15     NaN
2017-08-16  171.00
2017-08-17  170.00
2017-08-18  166.91
2017-08-21  167.41
2017-08-22  167.78
2017-08-23  169.64
2017-08-24  168.71
2017-08-25  167.74
2017-08-28  166.32

In [5]:
df.shift(2)

             Price
Date
2017-08-15     NaN
2017-08-16     NaN
2017-08-17  171.00
2017-08-18  170.00
2017-08-21  166.91
2017-08-22  167.41
2017-08-23  167.78
2017-08-24  169.64
2017-08-25  168.71
2017-08-28  167.74

In [6]:
df.shift(-1)

             Price
Date
2017-08-15  170.00
2017-08-16  166.91
2017-08-17  167.41
2017-08-18  167.78
2017-08-21  169.64
2017-08-22  168.71
2017-08-23  167.74
2017-08-24  166.32
2017-08-25  167.24
2017-08-28     NaN

In [7]:
# shift helps in shifting the data points
# It helps in calculating the percent change in a day
# percent change in certain amount of the day

In [8]:
df['Previous_day_period']=df['Price'].shift(1)

In [9]:
df['One_day_change']=df['Price']-df['Previous_day_period']

In [10]:
df.head()

             Price  Previous_day_period  One_day_change
Date
2017-08-15  171.00                  NaN             NaN
2017-08-16  170.00               171.00           -1.00
2017-08-17  166.91               170.00           -3.09
2017-08-18  167.41               166.91            0.50
2017-08-21  167.78               167.41            0.37

In [11]:
df=df[['Price']]

In [12]:
df['5_day_return']=(df['Price']-df['Price'].shift(5))*100/df['Price'].shift(5)

In [13]:
df.head

<bound method NDFrame.head of              Price  5_day_return
Date
2017-08-15  171.00           NaN
2017-08-16  170.00           NaN
2017-08-17  166.91           NaN
2017-08-18  167.41           NaN
2017-08-21  167.78           NaN
2017-08-22  169.64     -0.795322
2017-08-23  168.71     -0.758824
2017-08-24  167.74      0.497274
2017-08-25  166.32     -0.651096
2017-08-28  167.24     -0.321850>

In [14]:
## shifting time range we use tshift

df.index

DatetimeIndex(['2017-08-15', '2017-08-16', '2017-08-17', '2017-08-18',
               '2017-08-21', '2017-08-22', '2017-08-23', '2017-08-24',
               '2017-08-25', '2017-08-28'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [15]:
df.index=pd.date_range(start='2017-08-15',periods=10,freq='B')

In [16]:
df.index

DatetimeIndex(['2017-08-15', '2017-08-16', '2017-08-17', '2017-08-18',
               '2017-08-21', '2017-08-22', '2017-08-23', '2017-08-24',
               '2017-08-25', '2017-08-28'],
              dtype='datetime64[ns]', freq='B')

In [17]:
df.tshift(1)

             Price  5_day_return
2017-08-16  171.00           NaN
2017-08-17  170.00           NaN
2017-08-18  166.91           NaN
2017-08-21  167.41           NaN
2017-08-22  167.78           NaN
2017-08-23  169.64     -0.795322
2017-08-24  168.71     -0.758824
2017-08-25  167.74      0.497274
2017-08-28  166.32     -0.651096
2017-08-29  167.24     -0.321850

In [18]:
df.tshift(-1)

             Price  5_day_return
2017-08-14  171.00           NaN
2017-08-15  170.00           NaN
2017-08-16  166.91           NaN
2017-08-17  167.41           NaN
2017-08-18  167.78           NaN
2017-08-21  169.64     -0.795322
2017-08-22  168.71     -0.758824
2017-08-23  167.74      0.497274
2017-08-24  166.32     -0.651096
2017-08-25  167.24     -0.321850